<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Login</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-4">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
              <div>{{ field.errors }}</div>
            {% endif %}
          </div>
        {% endfor %}
        <button type="submit">Login</button>
    </form>
  </body>
</html>